<a href="https://colab.research.google.com/github/hlnynhi/PCAP/blob/main/nodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_csv("https://raw.githubusercontent.com/hlnynhi/PCAP/main/Traffic-data/nodes.csv", index_col="_id")

print(df.head())
print(df.shape)

                 long        lat
_id
366367223  106.629056  10.804243
366367233  106.709701  10.771110
366367242  106.737189  10.709337
366367274  106.760081  10.854489
366367285  106.721163  10.804994
(577967, 2)

In [5]:
nodes_sort=nodes.sort_values(by='long')
nodes_sort

               _id        long        lat
58543    367753329  106.536005  10.714025
85931   1854295533  106.536006  10.718876
58544    367753348  106.536007  10.714428
58545    367753398  106.536015  10.716888
41441    367515274  106.536016  10.789476
...            ...         ...        ...
263569  5153241519  106.867970  10.872766
183533  3704736806  106.867971  10.728268
75394   1593310040  106.867978  10.743812
39252    367503051  106.867981  10.809432
428347  5735312295  106.867994  10.805678

[577967 rows x 3 columns]