<a href="https://colab.research.google.com/github/hlnynhi/PCAP/blob/main/streets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_csv("https://raw.githubusercontent.com/hlnynhi/PCAP/main/Traffic-data/nodes.csv", index_col="_id")

print(df.head())
print(df.shape)

                 long        lat
_id
366367223  106.629056  10.804243
366367233  106.709701  10.771110
366367242  106.737189  10.709337
366367274  106.760081  10.854489
366367285  106.721163  10.804994
(577967, 2)

In [8]:
streets_sort_level=streets.sort_values(by='level')
streets_sort_level

            _id  level  max_velocity                     name           type
0      31096786      1          80.0                Quốc Lộ 1          trunk
3548  466364979      1          60.0              Võ Văn Kiệt          trunk
959   152067205      1           NaN         Vòng xoay An Lạc          trunk
960   152067208      1          60.0                Quốc lộ 1          trunk
1014  165367638      1          60.0         Hầm sông Sài Gòn          trunk
...         ...    ...           ...                      ...            ...
1021  165919731      4           NaN  Đường dẫn Cầu Thủ Thiêm       tertiary
3458  462901272      4           NaN             Đường số 18B   unclassified
3459  462968806      4          40.0                      NaN  tertiary_link
3445  460336755      4           NaN                     Số 7       tertiary
5552  658328101      4           NaN               Võ Văn Tần       tertiary

[5553 rows x 5 columns]